body {
    font-family: Verdana;
    margin: 0;
    padding: 20px;
    background-color: lightgray;
}

h1, h2 {
    color: #333;
}

ul {
    margin: 20px 0;
    padding: 10px;
    border: 2px solid #ccc;
    list-style-type: square;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.imagen {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 15px;
}

.boton {
    margin: 20px 0;
}

.btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.caja {
    width: 200px;
    height: 200px;
    background-color: #4CAF50; /* Verde */
    margin: 20px; /* Margen exterior */
    padding: 15px; /* Relleno interior */
    border: 5px solid #333; /* Borde */
    box-sizing: border-box; /* Incluye el borde y el relleno en el ancho y alto */
}
.caja-1 {
    width: 150px;
    height: 150px;
    background-color: #FF5722; /* Naranja */
    margin: 10px;
    padding: 20px;
    border: 3px dashed #000;
    box-sizing: border-box;
}
.caja-2 {
    width: 100px;
    height: 100px;
    background-color: #2196F3; /* Azul */
    margin: 30px;
    padding: 5px;
    border: 1px solid #FFF;
    box-sizing: content-box; /* El borde y el relleno no se incluyen en el tamaño */
}
.caja-3 {
    width: 250px;
    height: 250px;
    background-color: #FFC107; /* Amarillo */
    margin: 5px;
    padding: 10px;
    border: 4px double #000;
    box-sizing: border-box;
}